:root {
  --scrollBG: rgba(0, 0, 0, 0);
  --thumbBG: #0c0c0c00;
}

main {
  min-height: 80vh;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollBG);
}
body::-webkit-scrollbar-thumb {
  background: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollBG);
}

h6 {
  font-size: 1rem;
}
h5 {
  font-size: 0.95rem;
}

h4 {
  font-size: 0.95rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-variant-caps: all-petite-caps;
}

.gpayimage img {
  width: 15rem;
  height: 4.2rem;
}

.gpayimage img:active {
  transform: scale(1.01);
}

th {
  color: brown;
  font-weight: bold;
}

.productcardname {
  color: rgb(73, 14, 151);
  font-size: 1.2rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
  font-variant-caps: all-petite-caps;
  font-size: 1.25rem;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px auto;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h4 {
    font-size: 2.5vw;
  }
}
